{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Definition",
    "description": "The OpenAPI Specification is a standard format to define the structure and syntax of REST APIs. OpenAPI documents are both machine and human-readable, which enables anyone to easily determine how each API works. [More details](https://www.openapis.org/faq)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fivetran.com"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "updated",
      "description": "2025-09-10T05:21:41.292Z"
    },
    {
      "name": "hash",
      "description": "f9fd0eb065a0f7e371e146eefb19708112bb1b419b6c3ccfd99a644ad55555b9"
    }
  ],
  "paths": {
    "/v1/users/{id}": {
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete a User",
        "description": "Deletes a user from your Fivetran account. You will be unable to delete an account owner user if there is only one remaining.",
        "operationId": "delete_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/users/{userId}/groups": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List All Group Memberships",
        "description": "Returns the membership details for all groups a user belongs to.",
        "operationId": "get_user_memberships_in_groups",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "userId"
            },
            "example": "userId"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "af3gu4hSDdF"
            },
            "example": "af3gu4hSDdF"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Add Group Membership",
        "description": "Adds a user membership in a group.",
        "operationId": "add_user_membership_in_group",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "userId"
            },
            "example": "userId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/groups/{groupId}": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "Retrieve Group Details",
        "description": "Returns a group object if a valid identifier was provided.",
        "operationId": "group_details",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Group Management"
        ],
        "summary": "Delete a Group",
        "description": "Deletes a group from your Fivetran account.",
        "operationId": "delete_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Group Management"
        ],
        "summary": "Update a Group",
        "description": "Updates information for an existing group within your Fivetran account.",
        "operationId": "modify_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/info": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get Account Info from the API Key",
        "description": "Returns information about current account from API key.",
        "operationId": "get_account_info",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountInfoResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid authorization credentials"
          }
        }
      }
    },
    "/v1/hybrid-deployment-agents": {
      "get": {
        "tags": [
          "Hybrid Deployment Agent Management"
        ],
        "summary": "List Hybrid Deployment Agents",
        "description": "Returns list of all Hybrid Deployment Agents within your Fivetran account, along with usage. Optionally filtered to a single group.",
        "operationId": "get_hybrid_deployment_agent_list",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "The Fivetran Group Id.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "group_id"
            },
            "example": "group_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/HybridDeploymentAgentWithUsageResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Hybrid Deployment Agent Management"
        ],
        "summary": "Create a Hybrid Deployment Agent",
        "description": "Creates a new Hybrid Deployment Agent in a group.",
        "operationId": "create_hybrid_deployment_agent",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridDeploymentAgentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/HybridDeploymentAgentCreateResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing name or license not accepted in the payload."
          },
          "404": {
            "description": "Group not found."
          }
        }
      }
    },
    "/v1/teams/{teamId}/groups": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List All Group Memberships",
        "description": "Returns all groups in which a team has membership.",
        "operationId": "get_team_memberships_in_groups",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "vcDfgTEda6t"
            },
            "example": "vcDfgTEda6t"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add Group Membership",
        "description": "Adds a team as a member of a group.",
        "operationId": "add_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/metadata/connector-types": {
      "get": {
        "tags": [
          "Connector Metadata"
        ],
        "summary": "Retrieve Source Metadata",
        "description": "Returns all available source types within your Fivetran account. This endpoint makes it easier to display Fivetran connectors within your application because it provides metadata including the proper source name ('Facebook Ads' instead of 'facebook_ads'), the source icon, information about the Hybrid deployment support, and links to Fivetran resources. As we update source names and icons, that metadata will automatically update within this endpoint",
        "operationId": "metadata_connectors",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The paging cursor. Read more about [pagination in our documentation](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ug5DFer4rnd7sl"
            },
            "example": "ug5DFer4rnd7sl"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to fetch per page, accepts a number in the range 1..1000. The default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/MetadataResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/hybrid-deployment-agents/{agentId}/re-auth": {
      "patch": {
        "tags": [
          "Hybrid Deployment Agent Management"
        ],
        "summary": "Regenerate Authentication Keys",
        "description": "Regenerate authentication for a Hybrid Deployment Agent.",
        "operationId": "re_auth_hybrid_deployment_agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Hybrid Deployment Agent Id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "agentId"
            },
            "example": "agentId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridDeploymentAgentReAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/HybridDeploymentAgentCreateResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hybrid Deployment Agent not found in group."
          }
        }
      }
    },
    "/v1/teams/{teamId}/groups/{groupId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve Group Membership Details",
        "description": "Returns details of a team membership in a group.",
        "operationId": "get_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete Group Membership",
        "description": "Removes a team's membership in a group.",
        "operationId": "delete_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Update Group Membership",
        "description": "Updates team membership in a group.",
        "operationId": "update_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/system-keys/{keyId}/rotate": {
      "post": {
        "tags": [
          "System Key Management"
        ],
        "summary": "Rotate a System Key",
        "description": "Updates the secret value and expired_at date for an existing system key within your Fivetran account.",
        "operationId": "rotate_system_key",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "The unique identifier for the system key within your Fivetran account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "keyId"
            },
            "example": "keyId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSystemKeyRequest"
              },
              "examples": {
                "rotate_request": {
                  "value": {
                    "name": "updated_key",
                    "permissions": {
                      "expiration_period": "THREE_MONTHS"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/SystemKeyResponse"
                    }
                  }
                },
                "examples": {
                  "rotate_response": {
                    "value": {
                      "code": "Success",
                      "message": "System key with id 'rushed_fainting' has been rotated",
                      "data": {
                        "id": "rushed_fainting",
                        "name": "prod_key",
                        "key": "<key_value>",
                        "secret": "<secret_value>",
                        "created_at": "2023-11-10T19:32:58.646Z",
                        "expired_at": "2024-02-10T19:32:58.646Z",
                        "permissions": [
                          {
                            "resource_type": "USER",
                            "access_level": "READ"
                          },
                          {
                            "resource_type": "WEBHOOK",
                            "access_level": "MANAGE"
                          },
                          {
                            "resource_type": "DESTINATION",
                            "access_level": "MANAGE"
                          },
                          {
                            "resource_type": "TRANSFORMATION",
                            "access_level": "MANAGE",
                            "resource_filter": {
                              "group_ids": [
                                "group_id_1",
                                "group_id_2"
                              ]
                            }
                          },
                          {
                            "resource_type": "CONNECTOR",
                            "access_level": "NONE",
                            "resource_filter": {
                              "ids": [
                                "connection_id_3",
                                "connection_id_4"
                              ]
                            }
                          },
                          {
                            "resource_type": "CONNECTOR",
                            "access_level": "MANAGE"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/fingerprints": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "List Fingerprints Approved for the Connection",
        "description": "Returns the list of approved SSH fingerprints for specified connection",
        "operationId": "get_connection_fingerprints_list",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "fErdGh2de354d"
            },
            "example": "fErdGh2de354d"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/FingerprintDetailsResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connection not found"
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a Fingerprint for the Connection",
        "description": "Approves a fingerprint, enabling Fivetran to trust it for a source database and establish connections via an SSH tunnel.",
        "operationId": "approve_connection_fingerprint",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveFingerprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/FingerprintDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `public_key` fields in request payload"
          },
          "404": {
            "description": "Connection not found"
          }
        }
      }
    },
    "/v1/transformations/package-metadata": {
      "get": {
        "tags": [
          "Transformation Management"
        ],
        "summary": "List All Quickstart Package Metadata",
        "description": "Returns a list of available Quickstart transformation package metadata details.",
        "operationId": "transformation_package_metadata_list",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "Specify the service identifier to filter Quickstart packages by connection service",
            "required": false,
            "schema": {
              "type": "string",
              "example": "service"
            },
            "example": "service"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Specify the package name to filter Quickstart packages by name",
            "required": false,
            "schema": {
              "type": "string",
              "example": "service"
            },
            "example": "service"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "cursor_value"
            },
            "example": "cursor_value"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/TransformationPackageMetadataResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schema}/tables/{table}/columns": {
      "get": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Retrieve Source Table Columns Config",
        "description": "This function retrieves and returns the column configuration for a source table. It only works for an existing connection that is in a 'Connected' state.",
        "operationId": "connection_column_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "schema",
            "in": "path",
            "description": "The database schema name within your destination",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schema"
            },
            "example": "schema"
          },
          {
            "name": "table",
            "in": "path",
            "description": "The table name within your database schema",
            "required": true,
            "schema": {
              "type": "string",
              "example": "table"
            },
            "example": "table"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TableColumnsConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/destinations/{destinationId}/fingerprints": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "List Fingerprints Approved for the Destination",
        "description": "Returns the list of approved SSH fingerprints for specified destination",
        "operationId": "get_destination_fingerprints_list",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destinationId"
            },
            "example": "destinationId"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "fErdGh2de354d"
            },
            "example": "fErdGh2de354d"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/FingerprintDetailsResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Destination not found"
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a Fingerprint for the Destination",
        "description": "Approves a fingerprint, enabling Fivetran to trust it for a destination database and establish connections via an SSH tunnel.",
        "operationId": "approve_destination_fingerprint",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destinationId"
            },
            "example": "destinationId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveFingerprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/FingerprintDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `public_key` fields in request payload"
          },
          "404": {
            "description": "Destination not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schemaName}/tables/{tableName}": {
      "patch": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Update a Connection Table Config",
        "description": "Updates the table config within your database schema for an existing connection within your Fivetran account.",
        "operationId": "modify_connection_table_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The database schema name within your destination (different from the connection schema)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schemaName"
            },
            "example": "schemaName"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name within your database schema",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tableName"
            },
            "example": "tableName"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/certificates/{hash}": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Retrieve Connection Certificate Details",
        "description": "Returns details of the certificate approved for the specified connection with specified certificate hash.",
        "operationId": "get_connection_certificate_details",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Revoke Connection Certificate",
        "description": "Revokes a certificate, so Fivetran no longer trusts it while connecting to the source database.",
        "operationId": "revoke_connection_certificate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      }
    },
    "/v1/webhooks/group/{groupId}": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Create a Group Webhook",
        "description": "This endpoint allows you to create a new webhook for a given group",
        "operationId": "create_group_webhook",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/v1/teams/{teamId}/connections/{connectionId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve Connection Membership",
        "description": "Returns details of a team membership in a connection.",
        "operationId": "get_team_membership_in_connection",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete Connection Membership",
        "description": "Removes team membership in a connection.",
        "operationId": "delete_team_membership_in_connection",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Update Connection Membership",
        "description": "Updates team membership in a connection",
        "operationId": "update_team_membership_in_connection",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "teamId"
            },
            "example": "teamId"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{groupId}/users/{userId}": {
      "delete": {
        "tags": [
          "Group Management"
        ],
        "summary": "Remove a User from a Group",
        "description": "Removes an existing user from a group in your Fivetran account.",
        "operationId": "delete_user_from_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}": {
      "get": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Retrieve Connection Details",
        "description": "Returns a connection configuration and status details if a valid identifier was provided.",
        "operationId": "connection_details",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Delete a Connection",
        "description": "Deletes a connection from your Fivetran account.",
        "operationId": "delete_connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      },
      "patch": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Update a Connection",
        "description": "Updates connection parameters for an existing connection within your Fivetran account.",
        "operationId": "modify_connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/transformation-projects/{projectId}/test": {
      "post": {
        "tags": [
          "Transformation Projects Management"
        ],
        "summary": "Test Transformation Project",
        "description": "Triggers tests for an existing transformation project.",
        "operationId": "test_transformation_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The unique identifier for the transformation project within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "projectId"
            },
            "example": "projectId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransformationProjectDetailsResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{groupId}/connections": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "List All Connections within a Group",
        "description": "Returns a list of information about all connections within a group in your Fivetran account.",
        "operationId": "list_all_connections_in_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "groupId"
            },
            "example": "groupId"
          },
          {
            "name": "schema",
            "in": "query",
            "description": "The name used both as the connection's name within the Fivetran system and as the source schema's name within your destination.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "schema_name"
            },
            "example": "schema_name"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Iu6zaC1yc2C6tf"
            },
            "example": "Iu6zaC1yc2C6tf"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/ConnectorResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/drop-columns": {
      "post": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Drop Blocked Columns from the Destination.",
        "description": "Mark multiple blocked columns for deletion from your destination tables. The columns will be dropped during the next sync.",
        "operationId": "delete_multiple_columns_connection_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier for the connection within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connectionId"
            },
            "example": "connectionId"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropColumnsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found error"
          },
          "409": {
            "description": "Column not in blocked state error"
          }
        }
      }
    },
    "/v1/destinations/{destinationId}/certificates/{hash}": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Retrieve Destination Certificate Details",
        "description": "Returns details of the certificate approved for the specified destination with specified certificate hash.",
        "operationId": "get_destination_certificate_details",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destinationId"
            },
            "example": "destinationId"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Revoke Destination Certificate",
        "description": "Revokes a certificate, so Fivetran no longer trusts it while connecting to the destination database.",
        "operationId": "revoke_destination_certificate",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destinationId"
            },
            "example": "destinationId"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas": {
      "get": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Retrieve a Connection Schema Config",
        "description": "Returns the connection schema config for an existing connection within your Fivetran account.\n\n> NOTE: The response contains all known schemas and tables. Also, it contains columns whose state has ever been set by the user. For more information, see also the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial.\n\nFor the NetSuite SuiteAnalytics and Salesforce and Salesforce Sandbox connectors, the 'schemas' map field will always have a single entry with the 'netsuite' or 'salesforce' key, respectively. For the 'schema.name_in_destination` name field, these connectors always return the destination schema name you set in the connection setup form.\n\nFor more information about this API endpoint call for the Oracle Fusion Cloud Applications connectors, see our [Schema information documentation](https://fivetran.com/docs/connectors/applications/oracle-fusion-cloud-applications#schemainformation).\n",
        "operationId": "connection_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
[...]
