{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Definition",
    "description": "The OpenAPI Specification is a standard format to define the structure and syntax of REST APIs. OpenAPI documents are both machine and human-readable, which enables anyone to easily determine how each API works. [More details](https://www.openapis.org/faq)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fivetran.com",
      "variables": {}
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "updated",
      "description": "2024-08-26T12:58:21.830Z"
    },
    {
      "name": "hash",
      "description": "05589742ec814a9cb5a885c9d0e16b677804e2e50bbee68c78439583fdf9b799"
    }
  ],
  "paths": {
    "/v1/teams/{teamId}/connectors": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List all connector memberships",
        "description": "Returns connector memberships within a team.",
        "operationId": "get_team_memberships_in_connectors",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "vcDfgTEda6t"
            },
            "example": "vcDfgTEda6t"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add connector membership",
        "description": "Adds a connector role within a team",
        "operationId": "add_team_membership_in_connector",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/users/{userId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve user membership in a team",
        "description": "Returns the user role a user has within a team",
        "operationId": "get_user_in_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamMembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete a user from a team",
        "description": "Removes a user from a team",
        "operationId": "delete_user_from_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Modify a user membership",
        "description": "Updates a user role within a team in your Fivetran account",
        "operationId": "update_user_membership",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamMembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List All Users",
        "description": "Returns a list of all users within your Fivetran account.",
        "operationId": "list_all_users",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "af3gu4hSDdF"
            },
            "example": "af3gu4hSDdF"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/UserResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Invite a User",
        "description": "Invites a new user to your Fivetran account. The invited user will have access to the account only after accepting the invitation. Invited user details are still accessible through the API.",
        "operationId": "create_user",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewUserRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/certificates": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Get connector approved certificates.",
        "description": "Returns the list of approved certificates for specified connector.",
        "operationId": "get_connector_certificates_list",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "r8ae7gf9a7fgaf"
            },
            "example": "r8ae7gf9a7fgaf"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/CertificateDetailsResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Connector not found."
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a certificate for the connector",
        "description": "Approves a certificate, so Fivetran trusts this certificate for a source database connection.",
        "operationId": "approve_connector_certificate",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCertificateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `encoded_cert` fields in request payload"
          },
          "404": {
            "description": "Connector not found"
          }
        }
      }
    },
    "/v1/local-processing-agents/{agentId}": {
      "get": {
        "tags": [
          "Local Processing Agent Management"
        ],
        "summary": "Returns Local Processing Agent Details",
        "description": "Returns Local Processing Agent Details.",
        "operationId": "get_local_processing_agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Local Data Processing Agent Id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "agent_id"
            },
            "example": "agent_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/LocalProcessingAgentWithUsageResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Local Processing Agent Management"
        ],
        "summary": "Delete a Local Processing Agent",
        "description": "Delete a Local Processing Agent.",
        "operationId": "delete_local_processing_agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Local Data Processing Agent Id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "agent_id"
            },
            "example": "agent_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Local Processing Agent not found."
          }
        }
      }
    },
    "/v1/local-processing-agents/{agentId}/re-auth": {
      "patch": {
        "tags": [
          "Local Processing Agent Management"
        ],
        "summary": "Regenerate authentication keys",
        "description": "Regenerate authentication for a Local Processing Agent.",
        "operationId": "re_auth_local_processing_agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Local Data Processing Agent Id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "agent_id"
            },
            "example": "agent_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalProcessingAgentReAuthRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/LocalProcessingAgentCreateResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Local Processing Agent not found in group."
          }
        }
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve team details",
        "description": "Returns information for a given team within your Fivetran account",
        "operationId": "team_details",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete a team",
        "description": "Deletes a team from your Fivetran account",
        "operationId": "delete_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Modify a team",
        "description": "Updates information for an existing team within your Fivetran account",
        "operationId": "modify_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/role": {
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete team role in account",
        "description": "Removes a team role within your Fivetran account",
        "operationId": "delete_team_membership_in_account",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}/groups": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List all group memberships",
        "description": "Returns all group membership objects for a user within your Fivetran account.",
        "operationId": "get_user_memberships_in_groups",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "af3gu4hSDdF"
            },
            "example": "af3gu4hSDdF"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Add group membership",
        "description": "Adds a group membership.",
        "operationId": "add_user_membership_in_group",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/destinations/{destinationId}/certificates": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Get destination approved certificates.",
        "description": "Returns the list of approved certificates for specified destination.",
        "operationId": "get_destination_certificates_list",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destination_id"
            },
            "example": "destination_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "r8ae7gf9a7fgaf"
            },
            "example": "r8ae7gf9a7fgaf"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/CertificateDetailsResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Destination not found"
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a certificate for the destination",
        "description": "Approves a certificate, so Fivetran trusts this certificate for a destination database connection.",
        "operationId": "approve_destination_certificate",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "destination_id"
            },
            "example": "destination_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCertificateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `encoded_cert` fields in request payload"
          },
          "404": {
            "description": "Destination not found"
          }
        }
      }
    },
    "/v1/teams/{teamId}/groups": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List all group memberships",
        "description": "Returns a group membership within a team",
        "operationId": "get_team_memberships_in_groups",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "vcDfgTEda6t"
            },
            "example": "vcDfgTEda6t"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "example": null,
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      },
                      "example": null
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add group membership",
        "description": "Adds a group membership in a team",
        "operationId": "add_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string",
              "example": "team_id"
            },
            "example": "team_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/certificates": {
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a certificate",
        "description": "Approves a certificate for a connector/destination, so Fivetran trusts this certificate for a source/destination database. The connector/destination setup tests will fail if a non-approved certificate is provided.",
        "operationId": "approve_certificate",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustCertificateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/destinations": {
      "post": {
        "tags": [
          "Destination Management"
        ],
        "summary": "Create destination",
        "description": "Creates a new destination within a specified group in your Fivetran account. IMPORTANT: Groups and destinations are mapped 1:1 to each other. We do this mapping using the group's `id` value that we automatically generate when you create a group, and the destination's `group_id` value that you specify when you create a destination. This means that you must create a group in your Fivetran account before you can create a destination in it.",
        "operationId": "create_destination",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDestinationRequest"
              },
              "examples": {
                "create_request": {
                  "value": {
                    "group_id": "target_group_id",
                    "service": "snowflake",
                    "region": "GCP_US_EAST4",
                    "time_zone_offset": "-5",
                    "config": {
                      "host": "your-account.snowflakecomputing.com",
                      "port": 443,
                      "database": "fivetran",
                      "auth": "PASSWORD",
                      "user": "fivetran_user",
                      "password": "123456"
                    }
                  }
                }
              },
              "example": null
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Created"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/DestinationResponse"
                    }
                  },
                  "example": null
                },
                "examples": {
                  "create_successful_response": {
                    "value": {
                      "code": "Success",
                      "message": "Destination has been created",
                      "data": {
                        "id": "decent_dropsy",
                        "group_id": "decent_dropsy",
                        "service": "snowflake",
                        "region": "GCP_US_EAST4",
                        "time_zone_offset": "-5",
                        "setup_status": "connected",
                        "setup_tests": [
                          {
                            "title": "Host Connection",
                            "status": "PASSED",
                            "message": ""
                          },
                          {
                            "title": "Database Connection",
                            "status": "PASSED",
                            "message": ""
                          },
                          {
                            "title": "Permission Test",
                            "status": "PASSED",
                            "message": ""
                          }
                        ],
                        "config": {
                          "host": "your-account.snowflakecomputing.com",
                          "port": 443,
                          "database": "fivetran",
                          "auth": "PASSWORD",
                          "user": "fivetran_user",
                          "password": "******"
                        }
                      }
                    }
                  }
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "examples": {
                  "service_not_supported": {
                    "value": {
                      "code": "InvalidInput",
                      "message": "Unsupported service 'service_id'"
                    }
                  },
                  "invalid_input_group_id": {
                    "value": {
                      "code": "InvalidInput",
                      "message": "Field 'group_id' is required"
                    }
                  },
                  "invalid_input_service": {
                    "value": {
                      "code": "InvalidInput",
                      "message": "Field 'service' is required"
                    }
                  }
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "examples": {
                  "group_not_found": {
                    "value": {
                      "code": "NotFound",
                      "message": "Destination with id <groupId> not found"
                    }
                  }
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}": {
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete a user",
        "description": "Deletes a user from your Fivetran account. You will be unable to delete an account owner user if there is only one remaining.",
        "operationId": "delete_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}": {
      "delete": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Drop a blocked column from the destination",
        "description": "Marks for deletion a blocked column from your table in the destination of an existing connector within your Fivetran account. The column is dropped from the destination on the next sync.",
        "operationId": "delete_column_connector_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The database schema name within your destination (different from the connector schema)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schema_name"
            },
            "example": "schema_name"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name within your database schema",
            "required": true,
            "schema": {
              "type": "string",
              "example": "table_name"
            },
            "example": "table_name"
          },
          {
            "name": "columnName",
            "in": "path",
            "description": "The column name within your table",
            "required": true,
            "schema": {
              "type": "string",
              "example": "column_name"
            },
            "example": "column_name"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found error"
          },
          "409": {
            "description": "Column not in blocked state error"
          }
        }
      },
      "patch": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Modify a Connector Column Config",
        "description": "Updates the column config within your table for an existing connector within your Fivetran account",
        "operationId": "modify_connector_column_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The database schema name within your destination (different from the connector schema)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schema_name"
            },
            "example": "schema_name"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name within your database schema",
            "required": true,
            "schema": {
              "type": "string",
              "example": "table_name"
            },
            "example": "table_name"
          },
          {
            "name": "columnName",
            "in": "path",
            "description": "The column name within your table",
            "required": true,
            "schema": {
              "type": "string",
              "example": "column_name"
            },
            "example": "column_name"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnUpdateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Retrieve User Details",
        "description": "Returns a user object if a valid identifier was provided.",
        "operationId": "user_details",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "tags": [
          "User Management"
        ],
        "summary": "Modify a User",
        "description": "Updates information for an existing user within your Fivetran account.",
        "operationId": "modify_user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/groups/{groupId}": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "Retrieve Group Details",
        "description": "Returns a group object if a valid identifier was provided.",
        "operationId": "group_details",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "group_id"
            },
            "example": "group_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Group Management"
        ],
        "summary": "Delete a group",
        "description": "Deletes a group from your Fivetran account.",
        "operationId": "delete_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "group_id"
            },
            "example": "group_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Group Management"
        ],
        "summary": "Modify a Group",
        "description": "Updates information for an existing group within your Fivetran account.",
        "operationId": "modify_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "group_id"
            },
            "example": "group_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}/connectors/{connectorId}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Retrieve connector membership",
        "description": "Returns a connector membership object.",
        "operationId": "get_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete connector membership",
        "description": "Removes connector membership.",
        "operationId": "delete_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "tags": [
          "User Management"
        ],
        "summary": "Update connector membership",
        "description": "Updates connector membership.",
        "operationId": "update_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user_id"
            },
            "example": "user_id"
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/connect-card": {
      "post": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Connect Card",
        "description": "Generates the Connect Card URI for the connector",
        "operationId": "connect_card",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectCardConfigRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorConnectCardResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/metadata/connector-types/{service}": {
      "get": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Retrieve connector configuration metadata",
        "description": "Returns metadata of configuration parameters and authorization parameters for a specified connector type.",
        "operationId": "metadata_connector_config",
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "description": "[The connector type](https://fivetran.com/docs/rest-api/getting-started#commonterms) identifier within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "google_ads"
            },
            "example": "google_ads"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/MetadataResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/schemas": {
      "get": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Retrieve a Connector Schema Config",
        "description": "Returns the connector schema config for an existing connector within your Fivetran account",
        "operationId": "connector_schema_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Setup a Connector Schema Config for a connector that doesn't have schema settings yet.",
        "description": "Allows to set up a Connector Schema Config for a new connector.",
        "operationId": "pre_create_connector_schema_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardConfigUpdateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  },
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Modify a Connector Schema Config",
        "description": "Updates the schema config for an existing connector within your Fivetran account.",
        "operationId": "modify_connector_schema_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string",
              "example": "connector_id"
            },
            "example": "connector_id"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardConfigUpdateRequest"
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Operation performed."
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  },
[...]
