---
page_title: "Resource: fivetran_connector_certificates"
---

# Resource: fivetran_connector_certificates

This resource allows you to create, update, and delete connector certificates.

## Example Usage

```hcl
resource "fivetran_connector_certificates" "certificate" {
    provider = fivetran-provider

    certificate {
        hash = "jhgfJfgrI6yy..."
        encoded_cert = "encoded_cert"        
    }

    certificate {
        hash = "jhgfJfgrI6yy..."
        encoded_cert = "encoded_cert"        
    }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

1. To import an existing `fivetran_connector_certificates` resource into your Terraform state, you need to get **Fivetran Connector ID** on the **Setup** tab of the connector page in your Fivetran dashboard.

2. Retrieve all connectors in a particular group using the [fivetran_connectors data source](/docs/data-sources/connectors)

3. Define an empty resource in your `.tf` configuration:

```hcl
resource "fivetran_connector_certificates" "my_imported_connector_fingerprints" {

}
```

4. Run the `terraform import` command:

```
terraform import fivetran_connector_certificates.my_imported_connector_fingerprints {your Fivetran Connector ID}
```

5.  Use the `terraform state show` command to get the values from the state:

```
terraform state show 'fivetran_connector_certificates.my_imported_connector_fingerprints'
```

6. Copy the values and paste them to your `.tf` configuration.