---
page_title: "Resource: fivetran_dbt_transformation"
---

# Resource: fivetran_dbt_transformation

Resource is in ALPHA state.

This resource allows you to add, manage and delete dbt Transformations for existing dbt Model. 
To retrieve available dbt Models use this [Retrieve dbt Project models](https://fivetran.com/docs/rest-api/dbt-transformation-management#retrievedbtprojectmodels) endpoint.

## Example Usage

```hcl
resource "fivetran_dbt_transformation" "transformation" {
    dbt_model_name = "dbt_model_name"
    dbt_project_id = "dbt_project_id"
    run_tests = "false"
    paused = "false"
    schedule {
        schedule_type = "TIME_OF_DAY"
        time_of_day = "12:00"
        days_of_week = ["MONDAY", "SATURDAY"]
    }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

1. To import an existing `fivetran_dbt_transformation` resource into your Terraform state, you need to get **Transformation ID** on the transformation page in your Fivetran dashboard.
2. Define an empty resource in your `.tf` configuration:

```hcl
resource "fivetran_dbt_transformation" "my_imported_fivetran_dbt_transformation" {

}
```

3. Run the `terraform import` command:

```
terraform import fivetran_dbt_transformation.my_imported_fivetran_dbt_transformation {Transformation ID}
```

4. Use the `terraform state show` command to get the values from the state:

```
terraform state show 'fivetran_dbt_transformation.my_imported_fivetran_dbt_transformation'
```

5. Copy the values and paste them to your `.tf` configuration.