---
page_title: "Resource: fivetran_local_processing_agent"
---

# Resource: fivetran_local_processing_agent

This resource allows you to create, update, and delete local processing agents.

## Example Usage

```hcl
resource "fivetran_local_processing_agent" "test_lpa" {
    provider = fivetran-provider

    display_name = "display_name"
    group_id = "group_id"
}
```

{{ .SchemaMarkdown | trimspace }}