---
page_title: "Resource: fivetran_proxy"
---

# Resource: fivetran_proxy

This resource allows you to create, update, and delete proxies.

## Example Usage

```hcl
resource "fivetran_proxy" "test_proxy" {
    provider = fivetran-provider

    display_name = "display_name"
    group_region = "group_region"
}
```

{{ .SchemaMarkdown | trimspace }}
