---
page_title: "Resource: fivetran_team_user_membership"
---

# Resource: fivetran_team_user_membership

This resource allows you to create, update, and delete user membership for teams

## Example Usage

```hcl
resource "fivetran_team_user_membership" "test_team_user_membership" {
    provider = fivetran-provider

    team_id = "test_team"
    
    user {
        user_id = "test_user"
        role = "Connector Administrator"
    }

    user {
        user_id = "test_user"
        role = "Connector Administrator"
    }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

1. To import an existing `fivetran_team_user_membership` resource into your Terraform state, you need to get `team_id` and `user_id`
You can retrieve all teams using the [fivetran_teams data source](/docs/data-sources/teams).

2. Define an empty resource in your `.tf` configuration:

```hcl
resource "fivetran_team_user_membership" "my_imported_fivetran_team_user_membership" {

}
```

3. Run the `terraform import` command:

```
terraform import fivetran_team_user_membership.my_imported_fivetran_team_user_membership {team_id}
```

4. Use the `terraform state show` command to get the values from the state:

```
terraform state show 'fivetran_team_user_membership.my_imported_fivetran_team_user_membership'
```
5. Copy the values and paste them to your `.tf` configuration.
