---
page_title: "Resource: fivetran_transformation"
---

# Resource: fivetran_transformation

Resource is in ALPHA state.

This resource allows you to add, manage and delete transformation projects in your account. 

## Example Usage for dbt Core Transformation

```hcl
resource "fivetran_transformation" "transformation" {
    provider = fivetran-provider

    type = "DBT_CORE"
    paused = true

    schedule {
        cron = ["cron1","cron2"]
        interval = 601
        smart_syncing = true
        connection_ids = ["connection_id1", "connection_id2"]
        schedule_type = "schedule_type1"
        days_of_week = ["days_of_week1","days_of_week2"]
        time_of_day = "time_of_day1"
    }

    transformation_config {
        project_id = "project_id"
        name = "name"
        steps = [
            {
                name = "name1"
                command = "command1"
            },
            {
                name = "name2"
                command = "command2"
            }
        ]
    }
}
```

## Example Usage for Quickstart Transformation

```hcl
resource "fivetran_transformation" "transformation" {
    provider = fivetran-provider

    type = "QUICKSTART"
    paused = true

    schedule {
        schedule_type = "TIME_OF_DAY"
        days_of_week = ["MONDAY", "FRIDAY"]
        time_of_day = "11:00"
    }

    transformation_config {
        package_name = "package_name"
        connection_ids = ["connection_id1", "connection_id2"]
        excluded_models = ["excluded_model1", "excluded_model2"]
    }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

1. To import an existing `fivetran_transformation` resource into your Terraform state, you need to get **Transformation ID** via API call `GET https://api.fivetran.com/v1/transformations` to retrieve available projects.
2. Fetch transformation details for particular `transformation-id` using `GET https://api.fivetran.com/v1/transformations/{transformation-id}` to ensure that this is the transformation you want to import.
3. Define an empty resource in your `.tf` configuration:

```hcl
resource "fivetran_transformation" "my_imported_fivetran_transformation" {

}
```

4. Run the `terraform import` command:

```
terraform import fivetran_transformation.my_imported_fivetran_transformation {Transformation ID}
```

4. Use the `terraform state show` command to get the values from the state:

```
terraform state show 'fivetran_transformation.my_imported_fivetran_transformation'
```

5. Copy the values and paste them to your `.tf` configuration.

