---
page_title: "Data Source: fivetran_connector"
---

# Data Source: fivetran_connector

This data source returns a connector object.

## Example Usage

```hcl
data "fivetran_connector" "connector" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}