---
page_title: "Data Source: fivetran_connection"
---

# Data Source: fivetran_connection

This data source returns a connection object.

## Example Usage

```hcl
data "fivetran_connection" "connection" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}