---
page_title: "Data Source: fivetran_dbt_models"
---

# Data Source: fivetran_dbt_models

This data source returns a list of all dbt Models available for specified dbt Project id.

## Example Usage

```hcl
data "fivetran_dbt_models" "my_models" {
    project_id = "project_id"
}
```

{{ .SchemaMarkdown | trimspace }}