---
page_title: "Data Source: fivetran_dbt_projects"
---

# Data Source: fivetran_dbt_projects

This data source returns a list of all dbt Projects within your Fivetran account.

## Example Usage

```hcl
data "fivetran_dbt_projects" "my_projects" {
}
```

{{ .SchemaMarkdown | trimspace }}