---
page_title: "Data Source: fivetran_destinations"
---

# Data Source: fivetran_destinations

This data source returns list of destination objects.

## Example Usage

```hcl
data "fivetran_destinations" "dest" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}