---
page_title: "Data Source: fivetran_destination"
---

# Data Source: fivetran_destination

This data source returns a destination object.

## Example Usage

```hcl
data "fivetran_destination" "dest" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}