---
page_title: "Data Source: fivetran_external_logging"
---

# Data Source: fivetran_external_logging

This data source returns a logging service object.

## Example Usage

```hcl
data "fivetran_external_logging" "extlog" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}