---
page_title: "Data Source: fivetran_external_logs"
---

# Data Source: fivetran_external_logs

This data source returns list of logging service objects.

## Example Usage

```hcl
data "fivetran_external_logs" "extlog" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}