---
page_title: "Data Source: fivetran_group_service_account"
---

# Data Source: fivetran_group_service_account

This data source returns Fivetran service account associated with the group.

## Example Usage

```hcl
data "fivetran_group_service_account" "my_group_service_account" {
    id = "group_id"
}
```

{{ .SchemaMarkdown | trimspace }}