---
page_title: "Data Source: fivetran_group_connectors"
---

# Data Source: fivetran_group_connectors

This data source returns a list of information about all connectors within a group in your Fivetran account.

## Example Usage

```hcl
data "fivetran_group_connectors" "group_connectors" {
    id = "anonymous_mystery"

    # optional 
    schema = "connector_schema_name"
}
```

{{ .SchemaMarkdown | trimspace }}