---
page_title: "Data Source: fivetran_groups"
---

# Data Source: fivetran_groups

This data source returns a list of all groups within your Fivetran account.

## Example Usage

```hcl
data "fivetran_groups" "all" {
}
```

{{ .SchemaMarkdown | trimspace }}