---
page_title: "Data Source: fivetran_group"
---

# Data Source: fivetran_group

This data source returns a group object.

## Example Usage

```hcl
data "fivetran_group" "my_group" {
    id = "anonymous_mystery"
}
```

{{ .SchemaMarkdown | trimspace }}