---
page_title: "Data Source: fivetran_local_processing_agent"
---

# Data Source: fivetran_local_processing_agent

NOTE: In connection with the general availability of the hybrid deployment functionality and in order to synchronize internal terminology, we have deprecate this data source.

This data source returns a local processing agent object.

## Example Usage

```hcl
data "fivetran_local_processing_agent" "local_processing_agent" {
    id = "local_processing_agent_id"
}
```

{{ .SchemaMarkdown | trimspace }}