---
page_title: "Data Source: fivetran_local_processing_agent"
---

# Data Source: fivetran_local_processing_agent

This data source returns a local processing agent object.

## Example Usage

```hcl
data "fivetran_local_processing_agent" "local_processing_agent" {
    id = "local_processing_agent_id"
}
```

{{ .SchemaMarkdown | trimspace }}