---
page_title: "Data Source: fivetran_metadata_schemas"
---

# Data Source: fivetran_metadata_schemas

Returns schema-level metadata for an existing connector within your Fivetran account.

## Example Usage

```hcl
data "fivetran_metadata_schemas" "metadata_schemas" {
}
```

{{ .SchemaMarkdown | trimspace }}