---
page_title: "Data Source: fivetran_metadata_columns"
---

# Data Source: fivetran_metadata_columns

This data source returns table-level metadata for an existing connector within your Fivetran account.

## Example Usage

```hcl
data "fivetran_metadata_columns" "metadata_columns" {
}
```

{{ .SchemaMarkdown | trimspace }}