---
page_title: "Data Source: fivetran_private_link"
---

# Data Source: fivetran_private_link

This data source returns a private link object.

## Example Usage

```hcl
data "fivetran_private_link" "private_link" {
    id = "private_link_id"
}
```

{{ .SchemaMarkdown | trimspace }}