---
page_title: "Data Source: fivetran_proxy"
---

# Data Source: fivetran_proxy

This data source returns a proxy object.

## Example Usage

```hcl
data "fivetran_proxy" "proxy" {
    id = "proxy_id"
}
```

{{ .SchemaMarkdown | trimspace }}