---
page_title: "Data Source: fivetran_proxy_agent"
---

# Data Source: fivetran_proxy_agent

This data source returns a proxy agent object.

## Example Usage

```hcl
data "fivetran_proxy_agent" "proxy_agent" {
    id = "proxy_id"
}
```

{{ .SchemaMarkdown | trimspace }}