---
page_title: "Data Source: fivetran_proxies"
---

# Data Source: fivetran_proxies

This data source returns a list of all proxies within your Fivetran account.

## Example Usage

```hcl
data "fivetran_proxies" "proxies" {
}
```

{{ .SchemaMarkdown | trimspace }}