---
page_title: "Data Source: fivetran_quickstart_packages"
---

# Data Source: fivetran_quickstart_packages

Returns a list of available Quickstart transformation package metadata details

## Example Usage

```hcl
data "fivetran_quickstart_packages" "all_packages_metadata" {
}
```

{{ .SchemaMarkdown | trimspace }}