---
page_title: "Data Source: fivetran_teams"
---

# Data Source: fivetran_teams

This data source returns a list of all teams within your Fivetran account.

## Example Usage

```hcl
data "fivetran_teams" "teams" {
}
```

{{ .SchemaMarkdown | trimspace }}