---
page_title: "Data Source: fivetran_team_connection_membership"
---

# Data Source: fivetran_team_connection_membership

This data source returns a connection membership within team object.

## Example Usage

```hcl
data "fivetran_team_connection_membership" "team_connection_membership" {
    id = "team_id"
}
```

{{ .SchemaMarkdown | trimspace }}