---
page_title: "Data Source: fivetran_team_user_membership"
---

# Data Source: fivetran_team_user_membership

This data source returns a user membership within team object.

## Example Usage

```hcl
data "fivetran_team_user_membership" "team_user_membership" {
    team_id = "team_id"
    user_id = "user_id"
}
```

{{ .SchemaMarkdown | trimspace }}