---
page_title: "Data Source: fivetran_team_group_membership"
---

# Data Source: fivetran_team_group_membership

This data source returns a group membership within team object.

## Example Usage

```hcl
data "fivetran_team_group_membership" "team_group_membership" {
    team_id = "team_id"
    group_id = "group_id"
}
```

{{ .SchemaMarkdown | trimspace }}