---
page_title: "Data Source: fivetran_transformations"
---

# Data Source: fivetran_transformations

Returns a list of all transformations available via API within your Fivetran account.

## Example Usage

```hcl
data "fivetran_transformations" "test" {
}
```

{{ .SchemaMarkdown | trimspace }}