---
page_title: "Data Source: fivetran_transformation_project"
---

# Data Source: fivetran_transformation_project

Returns transformation project details if a valid identifier was provided

## Example Usage

```hcl
data "fivetran_transformation_project" "test" {
	id = "id"
}
```

{{ .SchemaMarkdown | trimspace }}