---
page_title: "Data Source: fivetran_users"
---

# Data Source: fivetran_users

This data source returns a list of all users within your Fivetran account.

## Example Usage

```hcl
data "fivetran_users" "users" {
}
```

{{ .SchemaMarkdown | trimspace }}