---
page_title: "Data Source: fivetran_user_connection_memberships"
---

# Data Source: fivetran_user_connection_memberships

This data source returns a connection membership for user.

## Example Usage

```hcl
data "fivetran_user_connection_memberships" "user_connection_membership" {
    id = "user_id"
}
```

{{ .SchemaMarkdown | trimspace }}