---
page_title: "Data Source: fivetran_webhooks"
---

# Data Source: fivetran_webhooks

This data source returns a list of all webhooks within your Fivetran account.

## Example Usage

```hcl
data "fivetran_webhooks" "webhooks" {
}
```

{{ .SchemaMarkdown | trimspace }}